# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\download\[Udemy] Иван Петриченко. Web-разработчик 2020\4 модуль\81. Подготовка к созданию портфолио\Portfolio_starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
